[Unit]
Description=Gitea (Git with a cup of tea)
Documentation=https://docs.gitea.io
Requires=network-online.target
After=network-online.target
After=mariadb.service
After=postgresql.service
After=memcached.service
After=redis.service

[Service]
Restart=on-failure
User=gitea
Group=gitea
WorkingDirectory=/var/lib/gitea/
Environment=USER=gitea HOME=/var/lib/gitea GITEA_WORK_DIR=/var/lib/gitea
ExecStart=/usr/bin/gitea web --config /etc/gitea/app.ini

[Install]
WantedBy=multi-user.target

